!/*.js
/tests/format/**/*.js
/tests/integration/cli/
!/tests/format/**/jsfmt.spec.js
!/**/.eslintrc.js
/test*.*
/scripts/release/node_modules
/coverage/
/dist/
**/node_modules/**
/extra/website/build/
/extra/website/static/playground.js
/extra/website/static/lib/
