/.cache
/node_modules
/scripts/release/node_modules
*.log
/errors
/test*.*
/.vscode
/dist
/extra/website/node_modules
/extra/website/build
/extra/website/i18n
/extra/website/static/playground.js
/extra/website/static/lib
.DS_Store
/coverage
.idea
package-lock.json
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.nyc_output
/scripts/tools/eslint-plugin-prettier-internal-rules/node_modules
.devcontainer
